body {
	background-image: url('background.jpg');
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: 100% auto;
}

div {
	font-family: 'Verdana', sans-serif;
	font-weight: bold;
	font-size: 72px;
	text-align: center;
}

.adam {
	text-align: center;
}

.sign {
	font-family: 'Mrs Saint Delafield';
	color: #00c3d3;
	text-align: center;
	font-weight: bold;
	font-size: 72px;
}

.side {
	background-repeat: no-repeat;
}

.side-left {
	float: left;
}

.side-right {
	float: right;
